<phpunit>
	<testsuites>
		<testsuite name="Capstone Data Design">
			<file>ProfileTest.php</file>
			<file>RestaurantTest.php</file>
			<file>FollowTest.php</file>
			<file>SwipeTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>